code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
}

* {
   font-family: "JetBrains Mono", monospace;
   text-decoration: none;
}

.Head {
   background-color: orange;
   text-align: -webkit-center;
   padding-bottom: 10px;
}

#title {
   color: white;
   margin: 0%;
}

#OLU {
   font-weight: 600;
   font-style: italic;
   color: white;
   margin: 0%;
}

#search {
   border-radius: 8px;
   border: none;
   width: 400px;
}

.nav {
   display: grid;
   text-transform: uppercase;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   text-align: center;
   background-color: orange;
}

.welcome {
   text-align: center;
   margin: 5px;
   font-size: 25px;
}

.resourceContainer {
   display: grid;
   grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
   gap: 3px;
   width: auto;
}

.resourceCard {
   display: flex;
   flex-flow: column;
   border: solid;
   color: white;
   background-color: orange;
   text-align: -webkit-center;
   margin: 10px;
   padding: 5px;
   border-radius: 20px;
   font-size: 15px;
}

.resourceTitle {
   text-transform: uppercase;
}

.staff {
   color: rgb(65, 206, 100);
   background-color: white;
   border-radius: 10px;
   padding: 4px 8px 4px 8px;
   text-decoration: none;
   font-size: 18px;
}

.cohort {
   color: rgb(0, 110, 255);
   background-color: white;
   border-radius: 10px;
   padding: 4px 8px 4px 8px;
   text-decoration: none;
   font-size: 18px;
}

.url {
   width: auto;
   height: 400px;
   font-size: 12px;
}
